<!doctype html>
<html class="no-js" lang="">

{% include 'lucky/head.html.twig' %}

<body>

<!-- Preloader -->
{% include 'lucky/Header.html.twig' %}
<div class="container">
    <div class="slider-wrapper">
        <div class="slider-description">
            <div class="slider-description-inner">
                <h1>Pure<span>Elegance</span></h1>
            </div>
            <div class="cd-intro">
                <div class="cd-headline clip">
                        <span class="cd-words-wrapper">
                            <b class="is-visible">AWESOME THEME</b>
                            <b>MODERN COMBINATION</b>
                            <b>CREATIVE SOLUTIONS</b>
                        </span>
                </div>
            </div>
        </div>
        <div id="slider-ef" class="slider-images-wrapper">
            <img class="img-responsive" src="../images/kira-auf-der-heide-352108.jpg" alt="">
            <img class="img-responsive" src="../images/drew-taylor-235558.jpg" alt="">
            <img class="img-responsive" src="../images/espresso-914749.jpg" alt="">
        </div>
    </div>
</div>
<div class="container margin-top">
    <div class="history-wrapper">
        <div class="col-md-6 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
            <div class="row">
                <article>

                    {% for option in newArray.options %}
                    <h1>{{ option.h1 }}</h1>
                        <hr />

                    <h4>{{ option.h4 }}</h4>
                    <br>
                    {{ option.p|raw }}
                    {% endfor %}

                </article>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
            <div class="row">
                <div id="history-images" class="owl-carousel">

                        {% for image in newArray.imagesoptions %}
                    <div><img class="img-responsive center-block" src="../images/layout/{{ image.imageurl }}" alt="About"></div>
                   {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container margin-top">
    <div class="main-title">
        <h1>WHY CHOOSE US?</h1>
        <hr>
        <h6>Except to obtain some advantage from it</h6>
    </div>
    <div class="services-home-page">
        <div class="row">
            <div class="col-md-4">
                <div class="services-icon">
                    <span class="icon-tools"></span>
                    <hr>
                </div>
                <h4>BRANDING</h4>
                <p>Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because procure him.</p>
            </div>
            <div class="col-md-4">
                <div class="services-icon">
                    <span class="icon-globe"></span>
                    <hr>
                </div>
                <h4>PLAN OF WORK</h4>
                <p>Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because procure him.</p>
            </div>
            <div class="col-md-4">
                <div class="services-icon">
                    <span class="icon-paintbrush"></span>
                    <hr>
                </div>
                <h4>ILUSTRATION</h4>
                <p>Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because procure him.</p>
            </div>
        </div>
    </div>
</div>
<div class="container margin-top">
    <div class="main-title">
        <h1>OUR WORK</h1>
        <hr>
        <h6>Laborious to obtain some advantage from it</h6>
    </div>
    <div class="portfolio-wrapper">
        <button class="nav">
                <span class="icon-container">
                    <span class="line line01"></span>
                    <span class="line line02"></span>
                    <span class="line line03"></span>
                    <span class="line line04"></span>
                </span>
        </button>
        <div class="works-filter">

            <a href="javascript:void(0)" class="filter active" data-filter="mix">All</a>
            {% for product in newArray.products %}

            <a href="javascript:void(0)" class="filter" data-filter="{{ product.id }}">{{ product.id }}</a>

            {% endfor %}
        </div>


        <div class="js-masonry">

            <div class="row" id="work-grid">
                <!-- Begin of Thumbs Portfolio -->
                {% for product in newArray.products %}
                <div class="col-md-4 col-sm-4 col-xs-12 mix {{ product.id }}">
                    <div class="img home-portfolio-image">
                        <img src="{{ product.images }}" alt="Portfolio Item">
                        <div class="overlay-thumb">
                            <a href="javascript:void(0)" class="like-product" data-product="{{ product.id }}">
                                <i class="ion-ios-heart-outline"></i>
                                <span class="like-product">Liked</span>
                                <span class="output">250</span>
                            </a>
                            <div class="details">
                                <span class="title">{{ product.title }}</span>
                                <span class="info">{{ product.content |raw }}</span>
                            </div>
                            <span class="btnBefore"></span>
                            <span class="btnAfter"></span>
                            <a class="main-portfolio-link" href="/product/{{ product.id }}"></a>

                        </div>
                    </div>
                    <button class="add-to-cart" data-product="{{ product.id }}">
                        Add To Cart
                    </button>
                </div>

                {% endfor %}

                </div>

            </div>
        <div class="load-more">
            <a href="javascript:void(0)" id="load-more"><i class="icon-refresh"></i></a>
        </div>
    </div>
</div>
<div class="container margin-top">
    <div class="newsletter">
        <div class="col-md-6">
            <div class="row">
                <div class="newsletter-left">
                    <div class="newsletter-left-inner">
                        <h1>STAY INFORMED <br> WITH OUR <b>NEWSLETTER</b></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="newsletter-right" style="background: url(img/newsletter-bg.jpg)">
                    <div class="newsletter-right-inner">
                        <form>
                            <input type="text" name="newsletter" placeholder="ENTER YOUR EMAIL">
                            <input type="submit" value="SUBSCRIBE">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "lucky/footer.html.twig" %}
<a href="javascript:void(0)" class="scroll-top" id="scroll-top"><i class="pe-7s-angle-up"></i></a>

{% include 'lucky/scripts.html.twig' %}
</body>
</html>

